@charset "UTF-8";

/*****   Styles for print   ******/
@media print {
    * {display:none;}
}

/* ---------------------------------------------------------------
	reset
------------------------------------------------------------------ */
body {
	margin:0;
	padding:0;
	font-size:10px !important; /* for MODERN blowser */
	font-size:65%; /* for WIN IE 5.5 6.0*/
	font-family:Arial,verdana,Hiragino Kaku Gothic Pro,Osaka,MS PGothic,Sans-Serif;
	/*font-family: arial;
	font-size: 12px;*/
	background-color:#FFFFFF;
	text-align:center;
	min-height: 100%;
}

*:first-child+html body {
	font-size:65% !important; /* for WIN IE 7*/
}

p, h1, h2, h3, h4, h5, h6, li, dt, dd {
	font-size:1.1em;
	line-height:1.6;
	font-weight: normal;
	color:#333333;	
}

table {
	background-color: #fff;
	letter-spacing:0em;
}

th,td {
	margin:0; 
	padding:0;
	color:#333333; 
	font-style:normal;
	line-height:1.6;	
}


		
body,div,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

input, select {
	margin:0;
	padding:0; 
	color:#333333;
}

img {
	border:none; 
	vertical-align:bottom;
}

ul, ol {
	/*list-style:none;*/
}

br {
	letter-spacing:0;
}

sub {
	padding: 0 2px 0px;
	vertical-align: baseline;
	font-size: 0.8em;
}

/*sup {
	position: relative;
	bottom: -2px;
	padding: 0 2px;
}*/

em {
	font-style: normal;
}


/*a:link,
a:visited{
	color:#666;
	text-decoration:none;
}

a:hover{
	color:#0F94D9;
	text-decoration:underline;
}
*/

a:link {
	color:#004097;
	text-decoration:none;
}


a:hover,
a:active,
a:focus {
	text-decoration: underline !important;
}

a:visited {
	color: #4e98fb;
	text-decoration:none;
}


caption {
	margin-bottom: 5px;
	text-align: left;
}

/* CSS for title*/
/*
.content .title
{
    font-family: Century Gothic;
    font-size: 18px;
    width: 100%;
    height: 30px;
    color: #14258d;
    border-bottom: 2px solid #14258d;
}
*/
#title.title
{
    font-family: Century Gothic;
    font-size: 18px;
    width: 586px;
    height: 30px;
    color: #14258d;
    border-bottom: 2px solid #14258d;
}

#title.title p
{
    color: #14258d;
}

#content-title.title
{
    font-family: Century Gothic;
    font-size: 18px;
    width: 685px;
    height: 35px;
    color: #14258d;
    border-bottom: 2px solid #14258d;
    margin-bottom: 10px;
}

#content-title.title p
{
    color: #14258d;
}
    
#title.title2
{
    font-family: Century Gothic;
    font-size: 18px;
    width: 586px;
    height: 30px;
    color: #14258d;
    border-bottom: 2px solid #14258d;
}

#title.title2 p
{
    font-weight: 100;
    color: #14258d;
    font-weight: bold;
}
   
#title.title3
{
    font-family: Arial;
    font-size: 18px;
    width: 586px;
    height: 30px;
    color: #14258d;
    border-bottom: 2px solid #14258d;
}

#title.title3 p
{
    font-weight: 100;
    color: #14258d;
}

#banner-title
{
    position: absolute;
    font-family: Century Gothic;
    font-size: 24px;
    color: #10228B;
    padding: 128px 0 0 232px;
}


.Response-Time-Panel
{
	display:block;
	width: 100%;
	padding: 3px;
	margin-bottom: 10px;
	color: #fff;
}



.System-Maintenance
{
	width: 100%;
	margin-top: 150px;
}
.System-Maintenance .System-Maintenance-Image 
{
}
.System-Maintenance .System-Maintenance-Message
{
	font-size: 2em;
}










