@charset "utf-8";
/* video */
@media screen and (orientation:portrait) {
#image_wrap
{
	width: 708px;
	margin:28px auto;
}

#full_vidio iframe
{
	height:600px;
	width:703px;
}
.videos 
{
	margin-top:70px
}

.scrollable {

   width: 670px;
}

}



@media screen and (orientation:landscape) {

#image_wrap
{
	width: 704px;
	margin-top: 10px;
}

.videos
{
	margin-top:17px;
}

.scrollable {
  width: 659px;
}


}



#image_wrap
{
	background:url(../images/hover_bg.png) repeat;
	padding:5px;	
	margin-left:20px;
}


.videos
{
    height:140px;
	background:url(../images/video_bg.png) repeat;

}


.sub-videos
{
	width:165px;
	text-align:center;
	padding-top: 15px;
}


.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  
  height: 142px;
}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
}


/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    display:block;
    width:49px;
    height:140px;
    float:left;
    cursor:pointer;
    font-size:0px;
	margin: 0;
	z-index: 99999;
    position: relative;
}

/* right */
a.right { background:url(../images/right.png);}
/* left */
a.left { background:url(../images/left.png);}


/* disabled navigational button */
a.disabled {

}