@page
@model SessionExpiredModel
@{
    ViewData["Title"] = "Session Time Out";
    Layout = "_LoginLayout";
}

<h2>Session Expired</h2>
<p>
    <span style="color:White;">Your session has expired due to inactivity.</span>
    <br />
    <br />
    @if (Model.ShowLoginLink)
    {
        <a target="_parent" href="@Url.Page("/Index")">Click here to login again</a>
    }
</p>

@section Scripts {
    @if (!Model.ShowLoginLink)
    {
        <script type="text/javascript">
            window.parent.location.href = '@Url.Page("/Index")';
        </script>
    }
}
