
        body {
            font: 16px arial;
            background-color: white;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* css formats for the gauge */
        .gauge .domain {
            stroke-width: 2px;
            stroke: #99FF66;
            fill:#99FF66;
        /*  stroke: #0bb58e;
            fill:#0bb58e;     */
        }

        .gauge .tick line {
            stroke: #99FF66;
        /*  stroke: #0bb58e;  */
            stroke-width: 2px;
        }
        
        .gauge line {
            stroke: #99FF66;
       /*  stroke: #0bb58e;  */
        }

        .gauge .arc, .gauge .cursor {
            opacity: 50;
            fill:#99FF66;
       /*  fill: #0bb58e;  */
        }

        .gauge .major {
            fill: black;
       /*   fill: #0bb58e;  */
            font-size: 12px;
            font-family: 'Play', verdana, sans-serif;
            font-weight:bold ;
        }
        
        .gauge .indicator {
            stroke: black;
            fill: #00B050;
            stroke-width: 4px;
        }

        /* css formats for the segment display */
        .segdisplay .on {
            fill: green;
            display :none;

        }

        .segdisplay .off {
            fill: green;
            opacity: 0.15;
            display :none;
        }
        
        
        
         /* css formats for the gauge */
        .gauge1 .domain {
            stroke-width: 2px;
            stroke: #FF5050;
            fill:#FF5050;
        /*  stroke: PaleVioletRed;
            fill:PaleVioletRed;      */
        }

        .gauge1 .tick line {
            stroke: #FF5050;
        /*  stroke: PaleVioletRed;   */
            stroke-width: 2px;
        }
        
        .gauge1 line {
            stroke: #FF5050;
        /*  stroke: PaleVioletRed;   */
        }

        .gauge1 .arc, .gauge1 .cursor {
            opacity: 50;
            fill:#FF5050;
       /*  stroke: PaleVioletRed;   */
        }

        .gauge1 .major {
            fill: black;
       /*   fill: PaleVioletRed;   */     
            font-size: 12px;
            font-family: 'Play', verdana, sans-serif;
            font-weight: bold;
        }
        
        .gauge1 .indicator {
            stroke: black;
            fill: #953735;
            stroke-width: 4px;
        }
        
         /* css formats for the segment display */
        .segdisplay1 .on {
            fill: red;
            display:none;
        }

        .segdisplay1 .off {
            fill: red;
            opacity: 0.15;
            display:none;
        }
        
        
         /* hide display */
        .hide 
        {
        	display :none;
        }
  