div.Panel-Comment-Wrapper
{
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	clear: both;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left
{
	width: 56%;
	float: left;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left table, 
div.Panel-Comment-Wrapper .Panel-Comment-Left table tr, 
div.Panel-Comment-Wrapper .Panel-Comment-Left table td
{
	background-color: #fff;
	border: none;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left .Comment-Box
{
	background-color: #fff;
	text-align: left;
	padding-bottom: 5px;
	border-bottom: solid 1px #C2C2C7;
	margin-bottom: 10px;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left .Comment-Box h3
{
	font-size: 1.3em;
	font-weight: bold;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left .Comment-Box .Comment-Content
{
	font-size: 1.1em;
	text-align: justify;
	padding-left: 3px;
	border-left: solid 2px #99FFFF;
}
div.Panel-Comment-Wrapper .Panel-Comment-Left .Comment-Box .Comment-Posted
{
	font-weight: bold;
}
div.Panel-Comment-Wrapper .Panel-Comment-Right
{
	border: solid 2px #C2C2C7;
	background-color: #EBEBEC;
	padding: 10px;
	text-align: left;
	font-size: 1.2em;
	
	width: 40%;
	float: right;
}
div.Panel-Comment-Wrapper .Panel-Comment-Right h2
{
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 3px;
}
div.Panel-Comment-Wrapper table
{
	background-color: #EBEBEC;
}
div.Panel-Comment-Wrapper .Button-Comment-Submit
{
	width: 100px;
	height: 28px;
}