.tdHdr 
{
  background:Blue;
  color:White;
  text-align:center;
  font-size:30px;
  font-family: Arial, Helvetica, sans-seri;
}
.tdSubHdr
{
	color:blue;
	font-weight:bold;
	font-size:20px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchNo
{
	text-align:right;
	font-size:25px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchNo
{
	color:Red;
	font-weight:bold;
	  font-family: Arial, Helvetica, sans-seri;	
}
.trLbl
{
	font-size:20px;
	font-family: Arial, Helvetica, sans-seri;
}
.tdLbl
{
	font-weight:bold;
	padding-left:2px;
	width:10%;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdContent
{
	width:20%;
	line-height:20px;
	  font-family: Arial, Helvetica, sans-seri;
}
.trSublbl
{
	font-size:20px;
	white-space:nowrap;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdSubLbl
{
	white-space:nowrap;
	width:10%;
	font-size:30px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdSubContent
{
	white-space:nowrap;
	width:75%;
	  font-family: Arial, Helvetica, sans-seri;
}
.tblMach
{	
	border-collapse:collapse;	
	width:100%;
	line-height:25px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tblMach2
{
	margin:0.5% auto 0.5% 3%;
	border-collapse:collapse;
	  font-family: Arial, Helvetica, sans-seri;	
}
.tdMchlbl
{
	padding-left:1%;
	width:40%;
	line-height:28px;
	background:#CEF6F5;
	white-space:nowrap;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchContent
{
	background:#CEF6F5;
	width:35%;
	  font-family: Arial, Helvetica, sans-seri;
}
.trMach
{
	font-size:20px;
	  font-family: Arial, Helvetica, sans-seri;
}

.tblMchCondition 
{
	overflow: hidden;
}



@media screen and (max-width: 1024px) {

.tdHdr 
{
  background:Blue;
  color:White;
  text-align:center;
  font-size:30px;
  font-family: Arial, Helvetica, sans-seri;
}
.tdSubHdr
{
	color:blue;
	font-weight:bold;
	font-size:20px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchNo
{
	text-align:right;
	font-size:25px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchNo
{
	color:Red;
	font-weight:bold;
	  font-family: Arial, Helvetica, sans-seri;	
}
.trLbl
{
	font-size:20px;
	font-family: Arial, Helvetica, sans-seri;
}
.tdLbl
{
	font-weight:bold;
	padding-left:2px;
	width:20%;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdContent
{
	width:25%;
	line-height:20px;
	  font-family: Arial, Helvetica, sans-seri;
}
.trSublbl
{
	font-size:20px;
	white-space:nowrap;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdSubLbl
{
	white-space:nowrap;
	width:10%;
	font-size:30px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdSubContent
{
	white-space:nowrap;
	width:75%;
	  font-family: Arial, Helvetica, sans-seri;
}
.tblMach
{	
	border-collapse:collapse;	
	width:100%;
	line-height:25px;
	  font-family: Arial, Helvetica, sans-seri;
}
.tblMach2
{
	margin:0.5% auto 0.5% 3%;
	border-collapse:collapse;
	  font-family: Arial, Helvetica, sans-seri;	
}
.tdMchlbl
{
	padding-left:1%;
	width:40%;
	line-height:28px;
	background:#CEF6F5;
	white-space:nowrap;
	  font-family: Arial, Helvetica, sans-seri;
}
.tdMchContent
{
	background:#CEF6F5;
	width:35%;
	  font-family: Arial, Helvetica, sans-seri;
}
.trMach
{
	font-size:20px;
	  font-family: Arial, Helvetica, sans-seri;
}
.mobileFont
{
	font-size:20px;
	font-family: Arial, Helvetica, sans-seri;
}


}